body {
	max-width: 800px;
	margin: auto;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #333;
	background: #FFF;
}
h1 {
	text-align: center;
	font-size: 22px;
}
h2 {
  	font-size: 17px;
	color: brown;
	font-weight: normal;
}
.project{
  
	 padding: 7px;
	 margin: 8px;
	 background-color: aliceblue;
}
