body {
	max-width: 800px;
	margin: auto;
	font-family: Verdana, Arial, sans-serif;
	font-size: 17px;
	line-height: 1.4;
	color: #333;
	background: #FFF;
}
h1 {
	text-align: center;
	font-size: 22px;
}
h2 {
  font-size: 17px;
}
.project{
  
  padding: 6px;
  margin: 8px;
  background-color: aliceblue;
}
