body {
	max-width: 800px;
	margin: auto;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #333;
	background: #FFF;
}
h1 {
	text-align: center;
	font-size: 22px;
	color: #386890;
}
h2 {
  	font-size: 17px;
	color: #386890;
	font-weight: normal;
	padding: none;
}
.project{
  
	 padding: 7px;
	 margin-top: 12px;
	 margin-bottpm: 12px;
	 background-color: aliceblue;
}
a {
	text-decoration: none;
}
